*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container1{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img{
    width: 100%;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
footer{
    margin-top: 2rem;
    text-align: center;
}